@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --background: #31547A;
    --foreground: #E9F1FA;
    --text-color: #292E33;
    --edge-color: #c8cecd;
    --fade-color: #7681B3;
    --button-color: #00ABE4;
}

html {
    background: linear-gradient(white,white);

    min-height: 100vh;
}

/*Testing stuff*/
div {
    /*     border-color: var(--edge-color);
        border-style: solid; */
}

/*General Survey Formatting*/
.survey-container {
    font-family: Rubik;

    border-color: var(--edge-color);
    border-style: solid;
    border-radius:2em;

    margin: 2em 3em 2em 3em;
    margin-left: auto;
    margin-right: auto;

    min-width: 20em;
    max-width: 35em;
    width: 75%;

    padding: 1.5em;

    background-color: var(--foreground);
    text-color: var(--text-color);

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.survey-title-container h1 {
    text-align: center;
    color: var(--text-color);
}

.survey-title-container {
    padding: 1px;
    background-color: var(--button-color);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    margin-bottom: 1.5em;

}

.question-text textarea {
    border-color: var(--edge-color);
    border-style: solid;
    width: 95%;
    height: 3em;
    padding: 5px;
    border-radius: 5px;
    font-family: Rubik;

    background-color: #d6d8d8;

    min-height:3em;
    resize: none;
    overflow: hidden;

}

.question-choice {
    display: block;
    width: 100%;

}

hr {
    margin-right: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    width: 80%;
    height: 5px;
    background-color: var(--button-color);
    border-radius:10px;
}

button {
    background-color: var(--button-color);
    padding: 0.7em;
    border-radius: 5px;
    border-style: none;
    display: block;
    margin-right: auto;
    color: white;
    font-family: Rubik;
    margin-left: 85%;
    transition: all .2s ease-in-out;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
}