<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-Survey Chimp</title>
    <link th:href="@{/index.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e46718ba3d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/index.js}"></script>
    <script type="text/javascript" th:src="@{/create-survey.js}"></script>
    <script type="text/javascript" th:src="@{/util.js}"></script>
</head>
<body>

<nav class="site-nav">
    <i class="fa-regular fa-paper-plane nav-icon"></i>
    <h1 class="site-title">Mini-Survey</h1>
    <button style="margin-left: auto" onclick="location.href='/create'">Create</button>
    <button onclick="location.href='/display-polls'">View Polls</button>
</nav>

<div class="button-bar">
    <button class="add-question-button submit-button" type="button" onClick="addQuestion(this)">Add Question</button>
    <button class="submit-button" type="button" th:onclick="createPoll()">Create Poll</button>
</div>

<div class="survey-container">
    <div class="survey-title-container">
        <h1 ><input id="survey-title" type="text" placeholder="Survey Title"/></h1>
    </div>
    <div class="questions-container">
        <!--            Will use javascript to insert question elements here-->
        <div class="question-container">
            <select class="question-type" name="question-type" onchange="changeQuestionType(this)">
                <option value="Text">Text</option>
                <option value="MultipleChoice">Multiple Choice</option>
            </select>
            <button onClick="removeQuestion(this)" style="opacity: 0%"><i style="opacity: 0%" class="fa-solid fa-trash"></i></button>

            <div class="question-title-container">
                <h2><input type="text" placeholder="Question Title"/></h2>
            </div>

            <div class="question-choice-container">
            </div>
            <hr>
        </div>

    <div class="question-container">
        <select class="question-type" name="question-type" onchange="changeQuestionType(this)">
            <option value="Text">Text</option>
            <option selected value="MultipleChoice">Multiple Choice</option>
        </select>
        <button onClick="removeQuestion(this)" style="opacity: 0%"><i                             style="opacity:0%" class="fa-solid fa-trash"></i></button>
        <div class="question-title-container">
            <h2><input class="question-title" type="text" placeholder="Question Title"/></h2>
        </div>
        <div class="question-choice-container">
            <div class="question-choice">
                <label><input type="text" placeholder="Choice"/></label>
                <button onClick="removeChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-trash"></i></button>
                <button onClick="addChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-plus"></i></button>
            </div>
            <div class="question-choice">
                <label><input type="text" placeholder="Choice"/></label>
                <button onClick="removeChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-trash"></i></button>
                <button onClick="addChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-plus"></i></button>
            </div>
            <div class="question-choice">
                <label><input type="text" placeholder="Choice"/></label>
                <button onClick="removeChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-trash"></i></button>
                <button onClick="addChoice(this)" style="opacity: 0%"><i                           style="opacity:0%" class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <hr>
    </div>
    </div>
</div>
<br>

</body>
</html>