<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Poll</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/util.js}"></script>
    <script type="text/javascript" th:src="@{/index.js}"></script>
</head>
<body>
    <div class="poll" th:object="${poll}">
        <hr>
        <div class="pollID" id="poll-id" th:data-value="${poll.id}"></div>
        <H1 th:text="${poll.title}"></H1>
        <div th:each="question: ${poll.questions}">
            <p th:text="${question.title}"></p>
            <div class="textfield-question" th:if="${question.getQuestionType().toString()=='Text'}">
                <p>
                    <label for="text-question">Answer: </label>
                    <input type="text" id="text-question" th:data-name="${question.id}"/>
                </p>
            </div>
            <div class="multiple-choice" th:unless="${question.getQuestionType().toString()=='Text'}">
                <div class="choices" th:each="choice: ${question.possibleChoices}">
                    <p><input class="choice" type="radio" id="choice"  th:data-name="${question.id}" th:value="${choice.getAnswerChoice()}" th:text="${choice.getAnswerChoice()}"/></p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="submit-bar">
        <button id="submit" class="submit-button" type="button" th:onclick="saveAnswers()"> Submit Poll</button>
        <button id="exit" class="exit-button" type="button" onclick="displayPolls()"> Exit Poll</button>
    </div>
</body>
</html>