<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Polls</title>
    <link th:href="@{/index.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/e46718ba3d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/index.js}"></script>
</head>
<body>
    <nav class="site-nav">
        <i class="fa-regular fa-paper-plane nav-icon"></i>
        <h1 class="site-title">Mini-Survey</h1>
        <button style="margin-left: auto" onclick="location.href='/create'">Create</button>
        <button onclick="location.href='/display-polls'">View Polls</button>
    </nav>
    <div class="poll-title-container">
        <h1>List of Polls</h1>
    </div>
    <div class="monkey-container">
        <div th:each="poll: ${polls}">
            <hr>
            <p th:text="'Poll Name: ' + ${poll.getTitle()}"></p>
            <p class = "status" th:text="'Status: ' + ${poll.status()}"></p>
            <div class="poll-open" th:if="${poll.closed == false}">
                <button th:if="${!pollsAnswered.contains(poll.getId().toString())}" class="view-poll-button" th:data-name="${poll.id}" th:onclick="redirectToPoll(this.getAttribute('data-name'))"> View Poll</button>
                <button class="view-results-button" type="button" th:data-name="${poll.id}" th:onclick="redirectToPollResults(this.getAttribute('data-name'))">See Results</button>
                <button th:if="${pollsCreated.contains(poll.getId().toString())}" class="close-poll-button" th:data-name="${poll.id}" onclick="closePoll(this)">Close Poll</button>
            </div>
            <div class="poll-closed" th:if="${poll.closed == true}">
<!--                <button th:if="${!pollsAnswered.contains(poll.getId().toString())}" class="view-poll-button" th:data-name="${poll.id}" disabled> View Poll</button>-->
                <button class="view-results-button" type="button" th:data-name="${poll.id}" th:onclick="redirectToPollResults(this.getAttribute('data-name'))">See Results</button>
<!--                <button th:if="${pollsCreated.contains(poll.getId().toString())}" class="close-poll-button" th:data-name="${poll.id}" th:onclick="">Close Poll</button>-->
            </div>
        </div>
    </div>
    <hr>
</body>
</html>