<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:each="poll: ${polls}">
        <hr>
        <p th:text="'ID: ' + ${poll.id}" />
        <p th:text="'   Name: ' + ${poll.title}"></p>
        <div th:each="question: ${poll.questions}">
            <p th:text="'Question-Title: ' + ${question.title}"/>
            <p th:text="'Type: ' + ${question.questionType}"/>
            <div th:each="choice: ${question.possibleChoices}">
                <p th:text="'Choice: ' + ${choice.getAnswerChoice()}"/>
            </div>
        </div>
    </div>
</body>
</html>